<h1>Welcome to Caroline DAmbrosio Designs!</h1>
<%# we don't put this into routes because this works and gets processed with omniauth initializer to figure out where to send it and with what outide resource %>
