<h1>Welcome to Caroline D'ambrosio Designs!</h1>

<%= link_to "Log In With Google", '/auth/google_oauth2' %> 
<%# we don't put this into routes because this works and gets processed with omniauth initializer to figure out where to send it and with what outide resource %>