<h1><%= @user.username %></h1>
<p><%= image_tag(@user.image_url, alt: "#{@user.username} profile pic") if @user.image_url %><p>

<%= display_items %>

<%= render partial: "items/items", locals: {items: @user.items} %>
